@media (max-width: 900px) {
  .title {
    font-size: 54px;
    line-height: 54px;
  }

  .form {
    &__input {
      padding: 15px;

      border-radius: 15px;
    }

    &__input,
    &__input::placeholder {
      font-size: 24px;
      line-height: 30px;
    }
  }

  .todo {
    &__title {
      font-size: 26px;
      line-height: 30px;
    }

    &__button {
      font-size: 21px;
    }

    &__button + &__button {
      margin-left: 10px;
    }
  }
}

@media (max-width: 800px) {
  .todo {
    &__controls_large {
      justify-content: flex-end;
    }

    &__info {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 700px) {
  .todo {
    &__button {
      padding: 0 8px;

      background-color: rgba($border, 25%);
      border: 2px solid $border;
    }

    &__button_selected,
    &__button_selected:hover {
      padding: 0 8px;

      background-color: rgba($border-active, 25%);
      border: 2px solid $border-active;
    }
  }

  .task {
    &__status {
      margin-right: 15px;
    }

    &__status:hover {
      background-color: #fff;
    }

    &__status::before {
      width: 25px;
      height: 25px;
    }

    &__delete {
      margin-left: 15px;
    }

    &__delete,
    &:hover &__delete,
    &:hover &__delete:hover {
      opacity: 1;
    }

    &__message {
      padding: 4px;
    }
  }
}

@media (max-width: 550px) {
  .container {
    padding: 0 10px;
  }

  .title {
    padding: 15px;
  }

  .form {
    &__input,
    &__input::placeholder {
      font-size: 20px;
      line-height: 20px;

      border-radius: 5px;
    }
  }

  .todo {
    &__title {
      width: 100%;
      margin-bottom: 15px;

      font-size: 23px;
    }

    &__controls,
    &__buttons_wide {
      margin-bottom: 0;
    }

    &__buttons {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }

    &__button {
      margin-right: 10px;
      margin-bottom: 15px;
    }

    &__button + &__button {
      margin-left: 0;
    }
  }

  .task {
    &__status {
      margin-right: 10px;
    }

    &__status::before {
      width: 20px;
      height: 20px;
    }

    &__message {
      padding: 4px 5px;

      font-size: 20px;
      line-height: 20px;
    }

    &__delete::before {
      width: 15px;
      height: 15px;
    }
  }
}

@media (max-width: 400px) {
  .form {
    &__input::placeholder {
      content: "Что выполнить";
    }
  }

  .todo {
    &__button {
      width: 100%;
    }

    &__info {
      text-align: center;
    }
  }
}
