$font: #140d42;

$main-background: #eaf1fc;
$input-background: #d5d4fd;

$border: #c27fa8;
$border-active: #71b2ff;

$mark-background: #fff;
$mark-complete: #28e947;
$mark-hover: #bb9bc0;

$task: #e5e1ff;
$task-complete: #a7f5af;
